* {
  box-sizing: border-box;
}

body { 
    font-family: 'Segoe UI';
    height: 100vh; 
    background-color: rgb(247, 236, 246);
}


header {
  background-color: #ffffff;
  text-align: center;
  font-size: 15px;
}

.column {

  float:left;
  height: 300px; 
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
}

#Left-side-img{
    display: inline-block;
    width: 15px;
    height: 15px;
}

#Left-side-p{
    display: inline-block;
}

body header nav ul{
    background-color: rgb(255, 255, 255);
    display: inline-block;
}

body header nav ul li{
    padding: 14px ;
    display: inline-block;
}

body header nav ul li a{
    text-decoration: none;
    color: rgb(5, 0, 0);
    display: inline-block;

}

#Right-side-p-log{
    display: inline-block;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

#Right-side-p-signup{
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}


#Right-side-img{
    display: inline-block;
    width: 25px;
    height: 25px;


}

.cards {
  margin-top: 20px;
}

.card {
  display: inline-block;
  width: 30%;
  background: white;
  padding: 15px;
  margin-right: 2%;
  margin-bottom: 20px;
  vertical-align: top;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card img{
    width: 150px;
    height: 200px;
}

.card:last-child {
  margin-right: 0;
}