* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI';
}

header {
  background-color: #ffffff;
  text-align: center;
  font-size: 15px;
}

.column {

  float:left;
  height: 300px; 
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
}

#Left-side-img{
    display: inline-block;
    width: 15px;
    height: 15px;
}

#Left-side-p{
    display: inline-block;
}

body header nav ul{
    background-color: rgb(255, 255, 255);
    display: inline-block;
}

body header nav ul li{
    padding: 14px ;
    display: inline-block;
}

body header nav ul li a{
    text-decoration: none;
    color: rgb(5, 0, 0);
    display: inline-block;

}

#Right-side-p-log{
    display: inline-block;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

#Right-side-p-signup{
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}


#Right-side-img{
    display: inline-block;
    width: 25px;
    height: 25px;


}

#headline{
      text-align: center;
}

main{
    position: relative;
    top: 10;

}
.Search-Bar{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 20px;
    width: 60%;
    left: 350px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);

}

#search{
    border: none;
    border-radius: 20px;
    left: 50px;
    width: 45%;
}

.Search-Bar.buttons{
    float: left;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
}
.Search-Bar.buttons article{
    display: inline-block;
    margin: 10px;
}
.Search-Bar.buttons article p{
        float: left;

    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}
.Search-Bar.buttons article p:hover{
    background-color: lightgray;
    cursor: pointer;
}

#attach-btn, #search-btn, #study-btn, #create-image-btn {
    font-size: 12px;
    float: left;
        border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);

}

 #voice-btn{
    font-size: 12px;
    float: right;
        border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(158, 158, 158);
 }