* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI';
}

header {
  background-color: #ffffff;
  text-align: center;
  font-size: 15px;
}


.column {

  float:left;
  height: 300px; 
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
}

#Left-side-img{
    display: inline-block;
    width: 15px;
    height: 15px;
}

#Left-side-p{
    display: inline-block;
}

body header nav ul{
    background-color: rgb(255, 255, 255);
    display: inline-block;
}

body header nav ul li{
    padding: 14px ;
    display: inline-block;
}

body header nav ul li a{
    text-decoration: none;
    color: rgb(5, 0, 0);
    display: inline-block;

}

#Right-side-p-log{
    display: inline-block;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

#Right-side-p-signup{
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}

#Right-side-img{
    display: inline-block;
    width: 25px;
    height: 25px;


}

.article img {
    width: 50%;
    float: right;
    border-radius: 20px;
}

.article-content {
    width: 48%;
    float: left;
}

.article-content h1 {
    font-size: 26px;
    margin: 10px 0;
}

.article-content p {
    font-size: 16px;
    line-height: 1.6;
}

.btn{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    background-color: black;
    color: #ffffff;
    width: 90px;
}

